

body{
	width: 100%;
	height: 100%;
	background: url(../images/bg.png) ;
}
#header{
	width: 100%;
	position:fixed;
	background: url() center top no-repeat;
	top:0;
	left: 0;
	z-index:1102;
}
#header_area{
	width: 920px;
	height: 120px;
	margin: 0 auto;
}
#top{
	width: 100%;
	height: 100px;
}
#logo{
	width:160px;
	height:100px;
	margin: 0 auto;
	background: url() no-repeat;
	position:relative;
}
#logo a{
	display: block;
	width:160px;
	height:100px;
}

#body_bg{
	width: 100%;
	height: 400px;
	background: url() center top no-repeat;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
}

.member_header ul li.h_select {
	background:url(../images/member_nav.png) -360px -200px no-repeat;
}
.member_header ul li.h_select:hover {
	background:url(../images/member_nav.png) -360px -200px no-repeat;
}

/*左部*/
.member_left {
	width:260px;
	min-height:500px;
	float:left;
	background:#dedede;
	border:2px solid #373934;
	margin-top: 20px;
}
.left_title {
	width:260px;
	height:30px;
	background-color:#373934;
	text-align:center;
	font-family:"Microsoft Yahei" !important;
	font-size:16px !important;
	font-weight:bold !important;
	line-height:30px;
	color:#fff !important;
}
.bamboo_list {
	width:240px;
	height:160px;
	border-bottom:1px solid #373934;
	margin:0 auto;
}
.bamboo_title {
	margin-top:10px;
	text-align:center;
}
.bamboo_title a {
	color:#373934;
	font-size:14px;
	font-weight:bold;
}
.show_img {
	width:200px;
}
.show_img img {
	display:block;
	width:200px;
	height:100px;
	border:1px solid #373934;
	margin:0 auto;
	position:relative;
	top:3px;
}
.show_img img:hover {
	opacity:0.7;
}
.bamboo_type {
	float:left;
	position:relative;
	top:8px;
	left:20px;
	color:#363636;
}
.bamboo_time {
	float:right;
	float:right;
	position:relative;
	top:8px;
	right:20px;
	color:#363636;
}

/*右部*/
.member_right {
	width:636px;
	min-height:540px;
	background:#dedede;
	margin:20px 0 0 280px;
	border:2px solid #373934;
}
.right_title {
	width:636px;
	height:30px;
	background:#373934;
	font-family:"Microsoft Yahei" !important;
	font-size:18px !important;
	font-weight:bold !important;
	line-height:30px;
	color:#fff !important;
	margin-bottom:20px;
	text-align: center;
}
.collect_list {
	width:560px;
	margin:0 auto;
	padding:10px 10px;
	border-bottom:2px solid #a42c6a;
}
.collect_list p {
	float:left;
	color:#666;
}
._bamboo {
	height:30px;
}
.collect_username {
	font-size:16px;
	font-weight:bold;
	float:left;
}
.collect_title {
	float:left;
}
.collect_title a {
	color:#a42c6a;
	font-size:16px;
	font-weight:bold;
}
.collect_type {
	float:right;
	margin-right:20px;
	color:#363636;
}
.show_img_r {
	display:block;
	width:300px;
	margin:5px 0 20px 20px;
}
.show_img_r img {
	display:block;
	width:300px;
	height:180px;
	border:1px solid #a42c6a;
}
.show_img_r img:hover {
	opacity:0.7;
}
._collect {
	height:20px;
	float:left
}
.collect_time {
	float:left;
	color:#a42c6a;
}
.delete {
	width:80px;
	height:24px;
	background:#373934;
	margin-left:460px;
	margin-top:-5px;
	line-height:24px;
	text-align:center;
	color:#fff;
	cursor:pointer;
}
.delete:hover {
	background:#2b1605;
}
.sad_face {
	display:block;
	margin:20px auto;
}
.no_collect {
	width:150px;
	text-align:center;
	font-size:16px;
	font-weight:bold;
	margin:30px auto;
	color:#363636;
}
/*headcovered*/
.head1{ 
   position: absolute;
   display: block;
   height: 100px;
   width:90px;
   margin-top:-120px;
   margin-left: 200px;
}
.head2{ 
   position: absolute;
   display: block;
   height: 136px;
   width:836px;
   margin:-120px 0px 0px 277px;
   z-index: 2;
}