

body{
	width: 100%;
	height: 100%;
	background: url(../images/bg.png) fixed;
}
#header{
	width:100%;
	position:fixed;
	background: url(../images/bamboo6.png) center top no-repeat;
	top:0;
	left: 0;
	z-index:1102;
}
#header_area{
	width: 920px;
	height: 150px;
	margin: 0 auto;
}
#top{
	width: 100%;
	height: 100px;
}
#logo{
	width:160px;
	height:100px;
	margin: 0 auto;
	background: url(../images/logo.png) no-repeat;
	position:relative;
}
#logo a{
	display: block;
	width:160px;
	height:100px;
}

#body_bg{
	width: 100%;
	height: 400px;
	background: url(../images/bamboo6.png) center top no-repeat;
	position: fixed;
	top: 0;
	left: 0;
}

.member_header ul li.h_select {
	background:url(../images/member_nav.png) -600px -200px no-repeat;
}
.member_header ul li.h_select:hover {
	background:url(../images/member_nav.png) -600px -200px no-repeat;
}

/*左部*/
/*左部*/
.member_left {
	width:260px;
	min-height:540px;
	border:2px solid #373934;
	float:left;
	margin-top:20px;
	background:#dedede;
}
.left_title {
	width:260px;
	height:30px;
	background-color:#373934;
	text-align:center;
	font-family:"Microsoft Yahei" !important;
	font-size:16px !important;
	font-weight:bold !important;
	line-height:30px;
	color:#fff !important;
}
.user_info {
	width:260px;
	padding-top:10px;
}
.user_info img {
	display:block;
	margin:10px auto 20px auto;
	border: 2px solid #373934;
}
.add_friend {
	font-size:14px;
	font-weight:bold;
	color:#fff;
	background:#373934;
	width:80px;
	height:30px;
	line-height:30px;
	text-align:center;
	margin-left:90px;
	cursor:pointer;
}
.add_friend:hover {
	background:#513838;
}
.has_friend {
	font-size:14px;
	font-weight:bold;
	color:#fff;
	background:#373934;
	width:80px;
	height:30px;
	line-height:30px;
	text-align:center;
	margin-left:90px;
}
.user_info ul {
	margin:20px auto;
}
.user_info ul li {
	margin:5px 20px 0 20px;
}
.user_info ul li p {
	color:#FFFFFF;
	float:left;
	font-size:14px;
	background:#373934;
	padding:5px 3px 5px 7px;
	clear:left;
	font-weight:bold;
}
.user_info ul li h3 {
	color:#FFFFFF;
	float:left;
	font-size:14px;
	background:#373934;
	padding:5px 3px 5px 7px;
	clear:left;
	font-weight:bold;
	margin-top:5px;
}
.user_info ul li .user_name {
	height:24px;
	border-bottom:2px solid #373934;
	font-size:14px;
	padding-top:4px;
	text-align:center;
	color:#000;
}
.user_info ul li .user_birthday {
	height:24px;
	font-size:14px;
	border-bottom:2px solid #373934;
	padding-top:4px;
	text-align:center;
	color:#000;
}
.user_info ul li .user_email {
	height:24px;
	font-size:14px;
	border-bottom:2px solid #373934;
	padding-top:4px;
	text-align:center;
	color:#000;
}
.user_info ul li .user_qq {
	height:24px;
	font-size:14px;
	border-bottom:2px solid #373934;
	padding-top:4px;
	text-align:center;
	color:#000;
}
.user_info ul li .user_content {
	font-size:14px;
	padding:8px;
	clear:both;
	text-indent:2em;
	border:2px solid #373934;
	color:#000;
}

/*右部*/
.member_right {
	width:636px;
	min-height:500px;
	background:#dedede;
	margin:20px 0 0 280px;
	border:2px solid #373934;
}
.right_title {
	width:636px;
	height:30px;
	background:#373934;
	font-family:"Microsoft Yahei" !important;
	font-size:18px !important;
	font-weight:bold !important;
	line-height:30px;
	color:#fff !important;
	margin-bottom:10px;
	text-align: center;
}
.member_info {
	float:left;
	margin:20px 0 0 30px;
}
.member_info ul li {
	width:250px;
	height:40px;
}
.member_info ul li p {
	background:#373934;
	padding:5px 5px 6px 5px;
	color:#fff;
	float:left;
	font-size:16px;
}
.member_name, .member_sex, .member_birthday {
	font-size:16px;
	padding:0 20px;
	height:30px;
	line-height:30px;
	float:left;
	border-bottom:2px solid #373934;
	color:#000;
}
.member_con {
	margin:30px 0 0 320px;
}
.member_con ul li {
	height:40px;
}
.member_con ul li p {
	background:#373934;
	padding:5px 5px 6px 5px;
	color:#fff;
	float:left;
	font-size:16px;
}
.member_email, .member_phone, .member_qq {
	font-size:16px;
	padding:0 20px;
	height:30px;
	line-height:30px;
	float:left;
	border-bottom:2px solid #373934;
	color:#000;
}
.member_content_note {
	position:relative;
	background:#373934;
	padding:5px 5px 6px 5px;
	color:#fff;
	float:left;
	font-size:16px;
	margin:20px 0 0 30px;
}
.member_content {
	font-size:16px;
	text-indent:2em;
	width:560px;
	height:200px;
	border:2px solid #373934;
	padding:8px;
	float:left;
	margin:0 0 0 30px;
	color:#000;
}
.head1{ 
   position: fixed;
   display: block;
   height: 100px;
   width:90px;
   margin-top:-120px;
   margin-left: 200px;
}
.head2{ 
   position: fixed;
   display: block;
   height: 136px;
   width:836px;
   margin:-350px 0 0 290px;
   z-index: 999;
}